In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('20000records.tsv', sep='\t', header=0)

In [5]:
df

,name,alternative_names,osm_type,osm_id,class,type,lon,lat,place_rank,importance,...,country,country_code,display_name,west,south,east,north,wikidata,wikipedia,housenumbers
0,France,"ꃔꇩ,프랑스,フランス,ፈረንሣይ,ፈረንሳይ,បារាំង,ଫ୍ରାନ୍ସ,ފަރަންސ...",relation,2202162,boundary,administrative,1.875310,46.799535,4,0.961223,...,France,fr,France,-5.225000,41.333000,9.550000,51.200000,Q142,fr:France,NaN
1,United States of America,"미국,ᐊᒥᐊᓕᑲ,އެމެރިކާ,የተባበሩት የአሜሪካ ግዛቶች,สหรัฐอเมริ...",relation,148838,boundary,administrative,-99.009067,36.818430,4,0.944692,...,United States of America,us,United States of America,144.412919,-14.760836,-64.355490,71.604822,Q30,en:United States,NaN
2,Germany,"독일,ᔮᒪᓂ,ドイツ,ጀርመን,ଜର୍ମାନୀ,ޖަރުމަނުވިލާތް,អាល្លឺម...",relation,51477,boundary,administrative,10.591708,51.185001,4,0.930641,...,Germany,de,Germany,5.866315,47.270111,15.041932,55.099161,Q183,de:Deutschland,NaN
3,Italy,"ᐃᑕᓖ,ጣልያን,イタリア,이탈리아,ଇଟାଲୀ,ອິຕາລີ,អ៊ីតាលី,އިޓަލީ...",relation,365331,boundary,administrative,14.188595,41.703519,4,0.918894,...,Italy,it,Italy,6.627266,35.288962,18.784475,47.092146,Q38,it:Italia,NaN
4,Japan,"일본,ጃፓን,ޖަޕާނު,ᓃᑉᐊᓐ,ଜାପାନ,ជប៉ុន,ປະເທດຍີ່ປຸ່ນ,ปร...",relation,382313,boundary,administrative,142.951447,43.433954,4,0.906709,...,Japan,jp,Japan,122.714175,20.214581,154.205541,45.711205,Q17,ja:日本,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,Nucetto,NaN,relation,43049,boundary,administrative,8.056427,44.339347,16,0.538846,...,Italy,it,"Nucetto, Cuneo, Piemont, Italy",8.034748,44.323454,8.075886,44.357888,Q20272,it:Nucetto,NaN
19995,Tréduder,Treduder,relation,401303,boundary,administrative,-3.566270,48.656106,16,0.538846,...,France,fr,"Tréduder, Lannion, Côtes-d'Armor, Brittany, Me...",-3.580506,48.636773,-3.553191,48.675396,Q224966,fr:Tréduder,NaN
19996,Salmour,NaN,relation,43342,boundary,administrative,7.800862,44.583390,16,0.538846,...,Italy,it,"Salmour, Cuneo, Piemont, Italy",7.774554,44.559103,7.824214,44.607968,Q20448,it:Salmour,NaN
19997,Vrigne-Meuse,NaN,relation,3257663,boundary,administrative,4.836034,49.706037,16,0.538846,...,France,fr,"Vrigne-Meuse, Charleville-Mézières, Ardennes, ...",4.814612,49.693532,4.852440,49.718545,Q1147090,fr:Vrigne-Meuse,NaN
19998,Pierre-Perthuis,NaN,relation,3219806,boundary,administrative,3.789289,47.432325,16,0.538824,...,France,fr,"Pierre-Perthuis, Avallon, Yonne, Bourgogne-Fra...",3.763965,47.416457,3.815235,47.448370,Q226318,fr:Pierre-Perthuis,NaN